.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

    .login-box h1 {
        float: left;
        font-size: 40px;
        border-bottom: 6px solid #4caf50;
        margin-bottom: 50px;
        padding: 13px;
    }

.btn-rex {
    width: 240px;
    background: none;
    color: lightskyblue;
    border: 2px solid #4caf50;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    left: 15px;
}
