@page "/counter"

<h1>Counter</h1>

<p>Current count: 0</p>
<BSButton OnClick="IncrementCount" Color="Color.Info">Don't Click me</BSButton>
<br />

@if (@currentCount >= 3 && @currentCount <= 7)
{
    <br /><p><span style="color:darkseagreen">Please!</span> Stop Clicking the button</p>}
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
